header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #212529;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}


.nav-link {
  margin-left: 20px;
  font-size: 1.25rem;
}

.navbar-nav .nav-link {
  padding-right: 0;
  height: 39px;
  padding-left: 0;
}
